{% extends 'bootstrap/portfolio.html' %}
{% load static %}

{% block icon %}
    <link rel="icon" type="image/x-icon" href="{% static '/img/django.png'%}" />
{% endblock %}

{% block css %}
    <link href="{% static '/css/home.css' %}" rel="stylesheet" />
{% endblock %}

{% block navbar-nav%}
    <ul class="navbar-nav">
        {% for item in portfolio.list_navbar %}
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href= {{ item.0 }}>{{ item.1 }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block photo %}
    <img class="img-fluid img-profile rounded-circle mx-auto mb-2"
         src="{% static '/assets/img/profile.png' %}" alt="" />
{% endblock %}

{% block section_about %}
    <h1 class="mb-0">
        <span class="text-primary">Ramos</span>
    </h1>
    <div class="subheading mb-5">
        Junior Python Developer - Electronic Engineer - (305) 3537212 -
        <a href="mailto:name@email.com">jeiikot21.temp@gmail.com</a>
    </div>
    <p class="lead mb-5" style="text-align:justify">
        Apasionado por la tecnologia y el conocimiento, con experiencia de 1 año en proyectos que involucran el
        desarrollo de software en Python y 5 meses en aplicaciones web con Odoo.
        Desarrollador autodidacta con conocimiento en Django, HTML5, CSS3, JS entre otros.
    </p>
    <div class="social-icons">
        <a class="social-icon" target="_blank"
        href="https://www.linkedin.com/in/jeykot-steven-reina-ramos-955474176/">
            <i class="fab fa-linkedin-in"></i></a>
        <a class="social-icon" href="https://github.com/Jeiikot" target="_blank">
            <i class="fab fa-github"></i></a>
    </div>
{% endblock %}

{% block section_experience %}
    <h2 class="mb-5">Experiencia</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Desarrollador de Software</h3>
            <div class="subheading mb-3">NewLab Nutrition</div>
            <p>
                <strong>Desarrollo:</strong></br>
                - Soporte, desarrollo y personalización de ERP basado en Odoo.</br>
                - Personalización del modulo de Nómina, Empleados en Odoo 12.</br>
                - Migración de datos por medio de archivo plano.</br>
                <strong>Funcional:</strong></br>
                Conocimientos Básicos en los siguientes módulos:</br>
                - Purchase -> Inventory -> Sales / PDV -> Accounting / Invoicing.</br>
                - RH, Contacts and Employees.
                - Rango en Odoo: Soltero (2660 xp)
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Octubre 2019 – Marzo 2020</span></div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Joven Investigador</h3>
            <div class="subheading mb-3">Universidad Antonio Nariño</div>
            <p>
                <strong>Python:</strong></br>
                - DigSILENT PowerFactory.</br>
                - Neo4j.</br>
                - Automatización de los procesos de simulación estáticos.</br>
                - Análisis de contingencias.</br>
                <strong>Funciones:</strong></br>
                - Desarrollar código fuente de consulta de base de datos.</br>
                - Instalar herramientas en servidores Linux.</br>
                - Realizar copias de seguridad de los documentos del proyecto.</br>
                - Documentar los script que se desarrollen.</br>
                - Instalar librerías y software de código abierto requerido.</br>
                - Programar en el lenguaje Python.</br>
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Marzo 2019 – Julio 2019</span></div>
    </div>
{% endblock %}

{% block section_education %}
    <h2 class="mb-5">Educación</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Ingeniero Electrónico</h3>
            <div class="subheading mb-3">Universidad Surcolombiana</div>
            <p>Nota: 4.1</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Agosto 2013 - Agosto 2018</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">Técnico en Sistemas</h3>
            <div class="subheading mb-3">Inst. José Celestino Mutis</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Febrero 2010 - Julio 2011</span></div>
    </div>
    <h2 class="mb-5">Cursos</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">Specialization: Django For Everybody</h3>
            <div class="subheading mb-3">University of Michigan / Coursera</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Julio 2020 - Septiembre 2020</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">Specialization: Python For Everybody</h3>
            <div class="subheading mb-3">University of Michigan / Coursera</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Julio 2020 - Septiembre 2020</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">AI For Everyone</h3>
            <div class="subheading mb-3">deeplearning.ai / Coursera</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Agosto 2020 - Septiembre 2020</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">HTML, CSS, and Javascript for Web Developers</h3>
            <div class="subheading mb-3">Johns Hopkins University / Coursera</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Julio 2020 - Agosto 2020</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">Object – Oriented Design</h3>
            <div class="subheading mb-3">University of Alberta / Coursera</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Julio 2020 - Agosto 2020</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">Odoo Functional Certification Sample Test</h3>
            <div class="subheading mb-3">Odoo</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Marzo 2020 - Mayo 2020</span></div>
    </div>
{% endblock %}

{% block section_skills %}
    <h2 class="mb-5">Conocimiento</h2>
    <div class="subheading mb-3">Python</div>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Odoo
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Django
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            DigSILENT PF
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Qt Designer
        </li>
    </ul>
    <div class="subheading mb-3">Base de datos</div>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            SQL
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Neo4j
        </li>
    </ul>
    <div class="subheading mb-3">Otros</div>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            JS / CSS3 / HTML5
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            PIC / Raspberry Pi / Arduino
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            MATLAB / C++ / Java
        </li>
    </ul>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-python"></i>
        <li class="list-inline-item"><i class="fab fa-raspberry-pi"></i></li>
        <li class="list-inline-item"><i class="fab fa-js"></i></li>
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
        <li class="list-inline-item"><i class="fab fa-vuejs"></i></li>
        <li class="list-inline-item"><i class="fab fa-java"></i></li>
    </ul>
{% endblock %}

{% block section_interests %}
    <h2 class="mb-5">Interés</h2>
    <p class="mb-0">
        Además de ser un desarrollador, disfruto la mayor parte del tiempo al aire libre, me encanta
        la naturaleza y el cosmos, tengo un gran interes en la nueva tecnología disruptiva que es la
        inteligencia artificial, me apasiona la tecnología y aprender.
    </p>
{% endblock %}

{% block section_awards %}
    <h2 class="mb-5">Meritos</h2>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            Matrícula de Honor 2013-2 / Universidad Surcolombiana
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            Matrícula de Honor 2014-1 / Universidad Surcolombiana
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            Matrícula de Honor 2014-2 / Universidad Surcolombiana
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            Matrícula de Honor 2015-1 / Universidad Surcolombiana
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            Matrícula de Honor 2016-1 / Universidad Surcolombiana
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            Matrícula de Honor 2016-2 / Universidad Surcolombiana
        </li>
    </ul>
{% endblock %}