{% extends 'bootstrap/checkout.html' %}
{% load static %}

{% block body_title %}
    <h4 class="mb-3">Department/h4>
{% endblock %}

{% block form %}
    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.html_name == "name" %}
                <div class="mb-3">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    <input type="text" class="form-control" id="{{ field.html_name }}" name="{{ field.html_name }}"
                           {% if field.value %} value="{{ field.value }}" {% endif %} >
                </div>
            {% endif %}
        {% endfor %}

        <div class="row">
        {% for field in form %}
            {% if field.html_name != "name" %}
                <div class="mb-3 col-md-6">
                    {{ field.label_tag }}
                    {% if field.errors %}<div style="color:red;">{{ field.errors }}</div>{% endif%}
<!--                    <input type="text" class="form-control" id="{{ field.html_name }}" name="{{ field.html_name }}"-->
<!--                           {% if field.value %} value="{{ field.value }}" {% endif %} >-->
                    <div>{{ field }}</div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
            <input class="col-md-2" type="submit" onclick="window.location='{% url 'employee:index' %}' ;
              return false;" value="Cancel">
            <input class="col-md-2" type="submit" value="Save">
    </form>
{% endblock %}