{% extends 'bootstrap/checkout.html' %}
{% load static %}

{% block body_title %}
    <h2 class="mb-3" style="text-align:center;">Delete Employee</h2>
{% endblock %}

{% block form %}
    <p style="text-align:center;">Are you sure you want to delete the employee:
        <strong>{{ employee }}</strong>
    </p>

    <form action="" method="POST" style="text-align:center;">
        {% csrf_token %}
        <input type="submit" value="Yes, delete.">
        <input type="submit" onclick="window.location='{% url 'employee:index' %}' ;
            return false;" value="Cancel">
    </form>

{% endblock %}